.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.overview {
    display: flex;
    align-items: center;
    gap: 30px;
}

.overviewRight {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameInOverview {
    font-size: 1.8rem;
}

.email {
    color: var(--light-gray);
}


.infoRow {
    background-color: var(--gray-2);
    width: 70vw;
    max-width: 600px;
    padding: 12px 20px;
    border-radius: 15px;
    display: flex;
    /* margin-top: 10px; */
    margin-bottom: 100px;
}

.infoRowLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.infoRowRight {
    display: flex;
    align-items: center;

}

.infoRowTitle {
    color: var(--light-gray);
    margin: 0 0 5px 0;
    font-size: 1rem;
}