.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.show {
    opacity: 1;
    pointer-events: visible;
}

.modalContent {
    width: 500px;
    background-color: var(--gray-2);
    border-radius: 1rem;
    color: var(--white);
    padding: 24px;
    transform: translateY(-800px);
    transition: all 0.5s ease-in-out;
}

.show .modalContent {
    transform: translateY(0);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.modalTitle {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.modalBody {
    margin: 20px 0;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
    margin: auto;
}



/*! SMARTPHONE */
@media only screen and (max-width: 600px) {
    .modalContent {
        width: 100%;
    }
}