.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: visible;
}

.modalContent {
    width: 500px;
    background-color: var(--gray-2);
    border-radius: 1rem;
    color: var(--white);
    padding: 24px;
    transform: translateY(-800px);
    transition: all 0.5s ease-in-out;
}

.show .modalContent {
    transform: translateY(0);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.modalTitle {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.modalBody {
    margin: 20px 0;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
    margin: auto;
}

.cancelButton {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    color: var(--white);
    padding: 5px 25px;
    font-weight: 600;
    transition: all 0.1s linear;
}

.actionButton {
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    color: var(--white);
    padding: 5px 25px;
    font-weight: 600;
    transition: all 0.1s linear;
}

.cancelButton:active,
.actionButton:active {
    transform: scale(0.9);
}

/*! SMARTPHONE */
@media only screen and (max-width: 600px) {
    .modalContent {
        width: 100%;
    }

    .cancelButton {
        padding: 5px 20px;
    }

    .actionButton {
        padding: 5px 20px;
    }
}