.baseButton {
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--white);
    padding: 5px 25px;
    font-weight: 600;
    transition: all 0.1s linear;
}

.baseButton:active {
    transform: scale(0.9);
}

.transparent {
    background-color: transparent;
    border: 1px solid gray;
}

.red {
    background-color: var(--red);
    border: 1px solid var(--red);
}

.black {
    background-color: var(--gray-3);
    border: 1px solid var(--gray-3);
}


/*! SMARTPHONE */
@media only screen and (max-width: 600px) {
    .baseButton {
        padding: 5px 20px;
    }

}