.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --color-width: 2px;
    transition: all 0.1s linear;
}


.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--gray-3);
}


.leftOuter {
    display: flex;
    align-items: stretch;
    width: 55%;
}

.leftInner {
    display: flex;
    flex-direction: column;
    padding: 6px 0px;
}

.middle {
    display: flex;
    text-align: center;
    align-items: center;
    vertical-align: middle;

    border: solid;
    border-color: rgb(196, 31, 64);
    border-width: 3px;
    border-radius: 12px;
    height: 35px;
    width: 70px;
    
    background-color: transparent;
}

.status {
    font-size: 0.65rem;
    font-weight: 500;
    margin: auto;

}

.right {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 6px;
}

.color {
    width: var(--color-width);
}

.code {
    font-size: 1rem;
    padding-left: calc(12px - var(--color-width));
    margin: 0;
}

.title {
    font-size: 0.7rem;
    font-weight: 200;
    padding-left: 12px;
    margin: 0;
}

.units {
    margin: 0;
}

