.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --color-width: 2px;
    transition: all 0.1s linear;
}

.deleteCourse{
    position: relative;
    margin-left: 71%;
    background: red;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--gray-3) !important;
}

.taking {
    background: linear-gradient(to right, var(--yellow-alpha-theme), transparent);
}


.leftOuter {
    flex: 1;
    display: flex;
    align-items: stretch;
    width: 55%;
}

.leftInner {
    display: flex;
    flex-direction: column;
    padding: 6px 0px;
}

.middle {
    border: solid;
    /* border-color: var(--red-theme); */
    border-width: 1px;
    border-radius: 6px;
    padding: 0;
    height: 28px;
    width: 42px;

    background-color: transparent;
}

.status {
    font-size: 0.65rem;
    font-weight: 400;
    margin: auto;
    line-height: 1.1;

}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
    padding-left: 6px;
}

.color {
    width: var(--color-width);
}

.code {
    font-size: 1rem;
    padding-left: calc(12px - var(--color-width));
    margin: 0;
}

.title {
    font-size: 0.7rem;
    font-weight: 200;
    padding-left: 12px;
    margin: 0;
}

.units {
    margin: 0;
}