.createCurriculumButton {
    width: 228px;
    height: 172px;
    background-color: var(--gray-2);
    border-radius: 15px;
    outline: none;
    border: none;
    color: var(--ocean-blue);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.createCurriculumButton:hover {
    background-color: var(--gray-3);
    /* transform: translateY(-5px); */

}

.createCurriculumButton h3 {
    text-align: center;
    line-height: 1;
}

.addCourseButton {
    width: 228px;
    height: 40px;
    background-color: var(--gray-2);
    /* border-radius: 15px; */
    outline: none;
    border: none;
    color: var(--ocean-blue);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.addCourseIcon {
    flex-basis: 40;
    padding-bottom: 0px;
    padding-right: 3px;
}
.addCourseText {
    padding-top: 12px;
    padding-left: 0px;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 185px 185px 185px 185px 185px 185px;
    grid-gap: 21px;
    margin-left: 108px;
}

.semCard {
    height: 303px;
    width: 185px;
    background-color: #292B2F;
}

.addSemCard {
    height: 303px;
    width: 185px;
    background-color: #292B2F;
    outline: none;
    border: none;
    color: var(--ocean-blue);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
