.container {
    width: 100%;
}


.programNameWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.saveDiscardButtonsWrapper {
    display: flex;
    gap: 25px;
}


.addSemCard {
    height: 380px;
    width: 230px;
    background-color: var(--gray-2);
    border-radius: 15px;
    outline: none;
    border: none;
    color: var(--ocean-blue);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

.addSemCard:hover {
    background-color: var(--gray-3);
}

.addSemCard:active {
    background-color: var(--gray-3);
    transform: scale(0.9);
}


.addSemCard h3 {
    text-align: center;
    line-height: 1;
}



.grid {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    /* display: grid;
    grid-template-columns: 185px 185px 185px 185px 185px 185px;
    grid-gap: 40px;
    margin-top: 30px; */
}

.GWAWrapperContainer {
    display: flex;
    gap: 100px;
}

.viewGWACard {
    height: 200px;
    width: 400px;
    background-color: var(--gray-2);
    border-radius: 15px;
    margin-top: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--gray-5), var(--gray-3));
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    transition: all 0.1s linear;
    justify-content: space-between;
}

.reqGWACard {
    height: 200px;
    width: 400px;
    background-color: var(--gray-2);
    border-radius: 15px;
    margin-top: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--gray-5), var(--gray-3));
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    transition: all 0.1s linear;
}

.gwaTitle {
    padding: 10px 15px;
    font-size: 1.5rem;
}

.gwaValue {
    padding-left: 15px;
    font-size: 3rem;
}

.noGWAText {
    font-size: 1rem;
    padding-left: 15px;
    color: var(--light-gray);
}

.gwaChart {
    height: 200px;
    width: 200px;
    margin-right: 15px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    transition: all 0.1s linear;
}

.gwaTitle {
    padding-bottom: 6px;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}



.honorDiv {
    display: flex;
    flex-direction: column;
}

.honorRow {
    width: 85%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 15px;
    padding: 4px 5px;
    border-radius: 4px;
}

.honorDiv p {
    margin: 0;
}

.selectedHonorRow {
    background-image: linear-gradient(to right, var(--red-alpha-theme), var(--gray-3));
}