.container {
    width: 100%;
}


.programNameWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.saveDiscardButtonsWrapper {
    display: flex;
    gap: 25px;
}


.addSemCard {
    height: 380px;
    width: 230px;
    background-color: var(--gray-2);
    border-radius: 15px;
    outline: none;
    border: none;
    color: var(--ocean-blue);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

.addSemCard:hover {
    background-color: var(--gray-3);
}

.addSemCard:active {
    background-color: var(--gray-3);
    transform: scale(0.9);
}


.addSemCard h3 {
    text-align: center;
    line-height: 1;
}



.grid {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    /* display: grid;
    grid-template-columns: 185px 185px 185px 185px 185px 185px;
    grid-gap: 40px;
    margin-top: 30px; */
}

.reqGWACard {
    height: 200px;
    width: 400px;
    background-color: var(--gray-2);
    border-radius: 15px;
    margin-top: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, black, rgb(57, 57, 57));
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

.gwaTitle {
    padding-bottom: 6px;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1.5rem; 
    display: flex;
    justify-content: space-between;
}

.honorCol {
    margin: 4px;
    padding-left: 15px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.honorDiv{
    display:flex;
    flex-direction: row;

}