@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Rouge+Script&display=swap');

:root {
  /*? COLOR THEME  */

  /** For background */
  --gray-1: #36393F;

  /** For sem_card_background, modal backgrounds */
  --gray-2: #292B2F;

  /** For add_sem_card_background, gwa_right_gradient, sidebar_right_gradient */
  --gray-3: #1C1E21;

  /** For login_bottom_overlay_shape */
  --gray-4: #17191C;

  /** For gwa_left_gradient, sidebar_left_gradient */
  --gray-5: #0B0C0F;


  /** Base Theme Colors*/
  --white: #EFEEED;
  --red: #BD2148;
  --yellow: #F3CA3E;
  --green: #3BA55D;
  --blue: #5865F2;
  --dark-blue: #323fc5;
  --ocean-blue: #0E8A97;
  --ocean-blue-light: #33E1FF;
  --light-gray: #BDBDBD;
  --light-red-gray: #B9A7A5;

  /** For course_theme_colors, GWA_card*/
  --red-theme: #FF3366;
  --yellow-theme: #F3CA3E;
  --green-theme: #2AC940;
  --blue-theme: #3399FF;
  --orange-theme: #FF9933;

  --red-alpha-theme: #FF33663F;
  --yellow-alpha-theme: #F3CA3E3F;
  --green-alpha-theme: #2AC9403F;
  --blue-alpha-theme: #3399FF3F;
  --orange-alpha-theme: #FF99333F;

  /** other color vars*/
  --sidebar-icon-color: var(--white);
  --sidebar-selected-icon-color: var(--ocean-blue);

}

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}


/*! global classes */
.pencilGreenImg {
  cursor: pointer;
  transition: all 0.1s linear;
}

.pencilGreenImg:active {
  transform: scale(0.8);
}


/*! FUNCTIONS  */
.hidden {
  visibility: hidden;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*! EXTERNAL LIBRARIES*/
.form-control {
  background-color: transparent;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid gray;
}

.form-control:focus {
  background-color: transparent;
  border: 2px solid rgba(51, 146, 255, 0.124);
  outline: none !important;
  color: var(--white);
}

/*! Remove arrows in number input  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*! Remove arrows in number input  */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}