.container {
    min-height: 100vh;
}

.content {
    padding: 20px 60px;
    margin-left: 50px;
}


/*! SMARTPHONE */
@media only screen and (max-width: 767px) {
    .content {
        margin-left: 0px;
        margin-bottom: 50px;
    }
}