.container {
    position: fixed;
    width: 50px;
    height: 100vh;
    background: linear-gradient(to right, var(--gray-5), var(--gray-3));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoWrapper {
    height: 85px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dividerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.tabs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabLogoWrapper {
    cursor: pointer;
}

.selectedBarWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 60px;
    width: 3px;
}

.selectedBar {
    height: 80%;
    width: 100%;
    background-color: var(--ocean-blue);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*! TABLET */
@media only screen and (max-width: 900px) {
    .container {
        height: 50px;
        width: 100vw;
        bottom: 0;
        background: linear-gradient(var(--gray-3), var(--gray-5));
        flex-direction: row;
    }

    .logoWrapper {
        display: none;
    }

    .dividerWrapper {
        display: none;
    }

    .tabs {
        flex-direction: row;
        height: 100%;
    }

    .tab {
        flex: 1;
    }

    .selectedBarWrapper {
        top: 0;
        width: 33%;
        height: 4px;
    }

    .selectedBar {
        height: 100%;
        width: 60%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}