.App {
  width:100px;
  height:100px;
  text-align: center;
  position: fixed;
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
}

.buttonCreateCurriculum {
  width: 100px;
  height: 100px;
  align-self: center;
}